<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.success.title}">Inscrição AJE 2018</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Sua inscrição foi realizada com sucesso!
</p>
<p>
    O pagamento deve ser realizado em até 2x por depósito em conta, sendo as parcelas no valor
    de R$ 70,00 e com vencimento 06/08/2018 e 06/09/2018.
</p>
<p>
    <span>Atenciosamente, </span>
    <br/>
    <em>AJE 2018.</em>
</p>
</body>
</html>
